.card {
  width: 25rem;
  height: auto;
  background: #0e1217;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  color:white;
}

.card-img-holder {
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img {
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.card-title {
  padding: 1rem 0;
  font-size: 1.5rem;
}

.card-desc {
  padding: 1rem 0;
  font-size: 1rem;
}

.card-date {
  font-size: 0.8rem;
}

.card-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  span {
    font-weight: 600;
    color: #22215b;
  }
}

.card-tag {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  background: #eef7fe;
  color: #22215b;
  cursor: pointer;
}
